<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Player</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.Player</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doSelectTeam</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.doSelectTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Team</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.Team</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doInsertPlayer</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.doInsertPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doInsertTeam</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.doInsertTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekNick</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.CekNick</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.FrontEnd.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Players</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.FrontEnd.Players</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teams</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.FrontEnd.Teams</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataPlayer</servlet-name>
        <servlet-class>Syncode.Basket.Data.DataPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataTeam</servlet-name>
        <servlet-class>Syncode.Basket.Data.DataTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamDetails</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.FrontEnd.TeamDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUpdatePlayer</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.doUpdatePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerDetails</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.FrontEnd.PlayerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayersByName</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.FrontEnd.PlayersByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayersByTeam</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.FrontEnd.PlayersByTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayersByPos</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.FrontEnd.PlayersByPos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayersByNameLike</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.FrontEnd.PlayersByNameLike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatistikPlayer</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.StatistikPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doSelectPlayer</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.doSelectPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doInsertStatikPlayer</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.doInsertStatikPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayersBySeason</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.FrontEnd.PlayersBySeason</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Musim</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.Musim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUpdateTeam</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.doUpdateTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doFlagTeam</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.doFlagTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doFlagPlayer</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.doFlagPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadTemplate</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.DownloadTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doInsertMusim</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.doInsertMusim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doUpdateMusim</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.BackEnd.doUpdateMusim</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>News</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.FrontEnd.News</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralStat</servlet-name>
        <servlet-class>Syncode.Basket.Servlet.FrontEnd.GeneralStat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Player</servlet-name>
        <url-pattern>/BackEnd/Player</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doSelectTeam</servlet-name>
        <url-pattern>/doSelectTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Team</servlet-name>
        <url-pattern>/BackEnd/Team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doInsertPlayer</servlet-name>
        <url-pattern>/BackEnd/doInsertPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doInsertTeam</servlet-name>
        <url-pattern>/BackEnd/doInsertTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekNick</servlet-name>
        <url-pattern>/BackEnd/CekNick</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataPlayer</servlet-name>
        <url-pattern>/BackEnd/DataPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataTeam</servlet-name>
        <url-pattern>/BackEnd/DataTeam</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload-foto</param-name>
        <param-value>
         D:\Netbeans\Basket\web\img\Players\
      </param-value>
    </context-param>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload-excel</param-name>
        <param-value>
         D:\Netbeans\Basket\web\Statistik\Players\
      </param-value>
    </context-param>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload-foto-logo</param-name>
        <param-value>
         D:\Netbeans\Basket\web\img\Team\Logo\
      </param-value>
    </context-param>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload-foto-team</param-name>
        <param-value>
         D:\Netbeans\Basket\web\img\Team\Foto\
      </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/FrontEnd/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Players</servlet-name>
        <url-pattern>/FrontEnd/Players</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teams</servlet-name>
        <url-pattern>/FrontEnd/Teams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamDetails</servlet-name>
        <url-pattern>/FrontEnd/TeamDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUpdatePlayer</servlet-name>
        <url-pattern>/BackEnd/doUpdatePlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerDetails</servlet-name>
        <url-pattern>/FrontEnd/PlayerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayersByName</servlet-name>
        <url-pattern>/FrontEnd/PlayersByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayersByTeam</servlet-name>
        <url-pattern>/FrontEnd/PlayersByTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayersByPos</servlet-name>
        <url-pattern>/FrontEnd/PlayersByPos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayersByNameLike</servlet-name>
        <url-pattern>/FrontEnd/PlayersByNameLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatistikPlayer</servlet-name>
        <url-pattern>/BackEnd/StatistikPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doSelectPlayer</servlet-name>
        <url-pattern>/BackEnd/doSelectPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doInsertStatikPlayer</servlet-name>
        <url-pattern>/BackEnd/doInsertStatikPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayersBySeason</servlet-name>
        <url-pattern>/FrontEnd/PlayersBySeason</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Musim</servlet-name>
        <url-pattern>/BackEnd/Musim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUpdateTeam</servlet-name>
        <url-pattern>/BackEnd/doUpdateTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doFlagTeam</servlet-name>
        <url-pattern>/BackEnd/doFlagTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>News</servlet-name>
        <url-pattern>/FrontEnd/News</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doFlagPlayer</servlet-name>
        <url-pattern>/BackEnd/doFlagPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadTemplate</servlet-name>
        <url-pattern>/BackEnd/DownloadTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doInsertMusim</servlet-name>
        <url-pattern>/BackEnd/doInsertMusim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doUpdateMusim</servlet-name>
        <url-pattern>/BackEnd/doUpdateMusim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralStat</servlet-name>
        <url-pattern>/FrontEnd/GeneralStat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
